@import "../node_modules/normalize.css/normalize.css";
body, div, span {
  box-sizing: border-box;
  position:relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

/*page style*/

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

/*layout*/

.overlay {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
}
.section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  height: 100vh;
  width: 100wh;
  /*background-color: rgba(255,0,0,0.3);*/
  /*border: 2px solid #FFF;*/
}

/*section 1*/

#intro-section {

  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

#react-logo {
  position: relative;
}

.main-nav {
  flex-direction: row;
}
.main-nav a {
  padding: 0px 10px 0px 10px;
}

/*section 2*/

.demo-container {
  flex-direction: row;

  height: 100%;
  width: 100%
}

.iphone-demo {
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  /*background-color: rgba(255,0,0,0.3);*/
}

.feature-description {
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  /*background-color: rgba(0,255,2,0.3);*/
  padding-right: 20px;
}

/*demo-photo*/

.demo-photo {
  position: absolute;

  top: 90px;
  left: 25px;
}

/*section 3*/

.robot-icon {
  position: absolute;

  top: 98%;
  left: 99%;
  transform:translate(-50%,-50%);
}

#android-robot {
  position: relative;
  transform: rotate(-45deg);
}

/*slider-control*/

#slider-control {
  position: fixed;
  top: 50%;
  left: 99%;
  transform:translate(-50%,-50%);
  padding: 3px;
}

#slider-control a {
  padding: 3px;
}

#slider-control .dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
}

#slider-control .active .dot {
  background-color: #fff;
}

/*#iphone-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(225,0,0,0.3);

  transform: translate(0,-40%);
}*/

